<!DOCTYPE html>
<html>
  <head>
    <title>Tightravel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300&display=swap" rel="stylesheet">

  </head>

  <body>
    <%= render "shared/navbar", background: params[:controller] == "pages" && params[:action] == "home" %>

    <% flash.each do |name, msg| %>
      <ul>
        <li><%= msg %></li>
     </ul>
    <% end %>

    <%= yield %>
  </body>
</html>
